body {
  background-color: yellow; }

table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 150px; }

tr.even {
  background-color: #00ffbf; }

tr.over {
  background-color: #8797B7; }

td {
  border-bottom: 1px solid #C2C8D4;
  padding: 5px; }

th {
  border-right: 2px solid #FFF;
  color: #fff;
  padding-right: 40px;
  padding-left: 20px;
  background-color: #ff0037; }

h1 {
  color: pink;
  text-align: center;
  font-family: Arial; }

span {
  color: yellow; }

h2 {
  font-size: 30px; }
